<h2>Student Profile</h2>

<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

  <div>
    <label>Name:</label><br>
    <input type="text" formControlName="name">

    <div *ngIf="profileForm.get('name')?.touched && profileForm.get('name')?.invalid">
      Name is required
    </div>
  </div>

  <br>

  <div>
    <label>Email:</label><br>
    <input type="email" formControlName="email">

    <div *ngIf="profileForm.get('email')?.touched && profileForm.get('email')?.invalid">
      Enter a valid email
    </div>
  </div>

  <br>

  <div>
    <label>Semester:</label><br>
    <input type="number" formControlName="semester">

    <div *ngIf="profileForm.get('semester')?.touched && profileForm.get('semester')?.invalid">
      Semester must be between 1 and 8
    </div>
  </div>

  <br>

  <button type="submit" [disabled]="profileForm.invalid">
    Submit
  </button>

</form>